<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen1Rad.My.MySettings.ExamenRAD" connectionString="Data Source=DESKTOP-RERK9G5\SQLEXPRESS;Initial Catalog=ExamenRAD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>